<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Reviews')">
	<meta charset="UTF-8">
	<title>Reviews</title>
</head>
<body>
<header th:replace="partials/partials.html :: navlogin"></header>

<h1>Reviews Page</h1>
<div th:object="${user}"></div>
<!-- review.xyz must reference the model naming convention -->
<ul>
	<li th:each="review : ${reviews}">
		<h2 th:text="${review.reviewTitle}"></h2>
		<h4>Rating:</h4> <h4 th:text="${review.rating}"></h4>
		<p th:text="${review.description}"></p>
	</li>
</ul>

<footer th:replace="partials/partials.html :: footer"></footer>

<script th:replace="partials/partials.html :: search-js"></script>
</body>
</html>