<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Main')">
	<meta charset="UTF-8">
	<title>Main</title>
</head>
<body>
<header th:replace="partials/partials.html :: navlogin"></header>

<h1>This is our Main Page</h1>
<!-- object:user linked in BookController -->
<div th:object="${user}">
	<h3>Welcome,<h5 th:text="*{username}"></h5></h3>
</div>


<!-- Reviews shown in cards -->
<section class="text-center my-5 pb-3 container-fluid my-5">
	<p><small class="text-primary p-0 m-0">Community</small></p>
	<h2 class="fw-light">Everyday <strong class="fw-bolder">Reviews</strong></h2>
	<i class="fa-solid fa-left-long col-2"></i><small class="text-secondary">Scroll</small><i class=" col-2 fa-solid fa-right-long"></i>
	<!--User Review Container	-->
	<div class="row d-flex flex-nowrap container overflow-scroll mx-auto">
		<!-- Card One -->
		<div class="col-md-3 col mb-3 wholeCard" th:each="review : ${reviews}" th:unless="${review.id > 6}">
			<!-- Start of Card  -->
			<div class="card m-2 shadow  w-100 w-md-25">
				<!-- HEADER -->
				<div class="d-flex w-100 h-25">
					<!--  User Image    -->
					<img src="images/index/userProfile/userProfilePic_02.jpg" class="bg-dark profilePicIndex rounded-circle shadow m-3" width="42px" height="42px">
					<!-- Username -->
					<a th:href="|/profile/${review.getUser().getUsername()}|"> <p class="pt-4" th:text="${review.user.username}"></p></a>
				</div>
				<!--Book Section -->
				<div class="d-flex justify-content-center">
					<img src="images/index/indexBookReviews/it.jpeg" class="card-img-top rounded userReviewBook">
				</div>
				<!-- Stars -->
				<div class="text-center my-2" th:switch="${review.rating}">
					<p th:case="'1'">
						<i class="fa-solid star fa-star" value="1"></i>
						<i class="fa-regular star fa-star" value="2"></i>
						<i class="fa-regular star fa-star" value="3"></i>
						<i class="fa-regular star fa-star" value="4"></i>
						<i class="fa-regular star fa-star" value="5"></i>
						<span> 1</span>
					</p>
					<p th:case="'2'">
						<i class="fa-solid star fa-star" value="1"></i>
						<i class="fa-solid star fa-star" value="2"></i>
						<i class="fa-regular star fa-star" value="3"></i>
						<i class="fa-regular star fa-star" value="4"></i>
						<i class="fa-regular star fa-star" value="5"></i>
						<span> 2</span>
					</p>
					<p th:case="'3'">
						<i class="fa-solid star fa-star" value="1"></i>
						<i class="fa-solid star fa-star" value="2"></i>
						<i class="fa-solid star fa-star" value="3"></i>
						<i class="fa-regular star fa-star" value="4"></i>
						<i class="fa-regular star fa-star" value="5"></i>
						<span> 3</span>
					</p>
					<p th:case="'4'">
						<i class="fa-solid star fa-star" value="1"></i>
						<i class="fa-solid star fa-star" value="2"></i>
						<i class="fa-solid star fa-star" value="3"></i>
						<i class="fa-solid star fa-star" value="4"></i>
						<i class="fa-regular star fa-star" value="5"></i>
						<span> 4</span>
					</p>
					<p th:case="'5'">
						<i class="fa-solid star fa-star" value="1"></i>
						<i class="fa-solid star fa-star" value="2"></i>
						<i class="fa-solid star fa-star" value="3"></i>
						<i class="fa-solid star fa-star" value="4"></i>
						<i class="fa-solid star fa-star" value="5"></i>
						<span> 5</span>
					</p>
					<!-- To display checked star rating icons -->
				</div>
				<!--  Card Body  -->
				<div class="card-body">
					<h5 class="card-title h-25" th:text="${review.reviewTitle}"></h5>
					<p class="card-text cardText" th:text="${review.description}"></p>
				</div>
				<!-- FOOTER -->
				<div class="card-footer">
					<small class="text-muted">07/20/2013</small>
				</div>
			</div>
			<!-- End of Card --->
		</div>
	</div>
</section>
<!-- Reviews shown in cards -->

<a href="/catalog"><button type="button" class="btn btn-outline-secondary">View all genres</button></a>
<div class="row d-flex flex-nowrap container overflow-scroll mx-auto">
<div class="card text-center" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">Fiction</h5>
		<a href="/catalog#fiction" class="btn btn-primary">Find fiction books!</a>
	</div>
</div>

<div class="card text-center" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">Fantasy</h5>
		<a href="/catalog#fantasy" class="btn btn-primary">Find fantasy books!</a>
	</div>
</div>

<div class="card text-center" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">Young Adult</h5>
		<a href="/catalog#adolescence" class="btn btn-primary">Find young adult books!</a>
	</div>
</div>

<div class="card text-center" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">Romance</h5>
		<a href="/catalog#romance" class="btn btn-primary">Find romance books!</a>
	</div>
</div>
</div>



<footer th:replace="partials/partials.html :: footer"></footer>

<script th:replace="partials/partials.html :: search-js"></script>
</body>
</html>