<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Welcome to journey')">

	<title>Home</title>
</head>
<body>
<header th:replace="partials/partials.html :: navbar"></header>
<h1>Login Page</h1>

<div class="container">
	<label for="username"><b>Username</b></label>
	<input type="text" placeholder="Enter Username" name="uname" required>

	<label for="password"><b>Password</b></label>
	<input type="password" placeholder="Enter Password" name="psw" required>

	<button type="submit">Login</button>

</div>

<div class="container" style="background-color:#f1f1f1">

	<span class="psw">Forgot <a href="#">password?</a></span>
</div>
</form>

</body>
</html>