<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Login')">

	<title>Login</title>
</head>
<body>
<header th:replace="partials/partials.html :: navbar"></header>


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Log In</title>
</head>
<body>


<div class="col-12 col-md-5 bg-light rounded shadow mx-auto px-sm-5 py-2 px-1 m-1 position-absolute top-50 start-50 translate-middle">

	<!--After user is logged in it is set to go to the profile page &#45;&#45; Security Configuration Line 41 (basically if the user successfully logs in they will be directed to profile)-->
<form th:action="@{/login}" method="post">
	<label for="username" class="text-dark loginLabel">Username</label>
	<input id="username" name="username" type="text" class="form-control loginInput"/>
	<label for="password" class="loginLabel">Password</label>
	<input id="password" name="password" type="password" class="form-control loginInput"/>
	<input type="submit" value="Log In" class="btn btn-primary my-2"/>
		<p class="text-secondary">
			<small>Need an account? <a href="/register"> Join our community!</a> </small>
		</p>
</form>
	<div th:if="${param.error}" class="d-flex justify-content-center">
		Invalid Username and Password
	</div>
</div>

<div th:if="${param.logout}" class="d-flex justify-content-center">
	You have Successfully logged out!
</div>



<footer th:replace="partials/partials.html :: footer"></footer>

<script th:replace="partials/partials.html :: bootstrap-js"></script>
<script th:replace="partials/partials.html :: jquery"></script>

</body>
</html>


