*{margin: 0;padding: 0;box-sizing: border-box;}
body{height: 100%;width:100%}

/*The Index Main Section*/
#introSection{
    height: 75vh;
    background-image: url("../images/library.jpg");
    background-size: cover;
}


.aboutJourney{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*The Index Main header*/
.introHeading{
    font-weight: bolder;
    font-size: 42px;
}
/*The Index Main paragraph*/
.indexPara, .introPara{
    font-size: 18px;
}
.introArrow{
    margin-top: -60px;
    width: 30px;
    height: auto;
    z-index: 10;
}

.star{
    color:  #FF9900;
}
.profilePicIndex{
    background-size: cover;
    transition: all .8s ease-in-out;
}
.userReviewBook{
    height: 120px;
    width: 80px;
    border: 3px solid black;
    transition: all .8s ease-in-out;
}
.profilePicIndex:hover, .userReviewBook:hover{
    transform: scale(1.2);
}
.cardText{
    width:90%;
    /**Major Properties**/
    overflow:hidden;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box; /*Keep this it contains the items inside*/
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.wholeCard {
    height: fit-content;
}

#open-book{
    background-image: url("../images/openbook.png");
    height: 60vh;
    background-size: cover;
}

#photo1{
    background-image: url("../images/yasmineRico.jpeg");
    /*width: 50%;*/
    /*height: 100%;*/
    /*border-radius: 50%;*/
    width:78px;
    height:90px;
    background-size:cover;
    background-position:center;
    border-radius:50%;

}

#photo2{
    background-image: url("../images/NickG.jpg");
    /*width: 50%;*/
    /*height: 100%;*/
    /*border-radius: 50%;*/
    width:78px;
    height:90px;
    background-size:cover;
    background-position:center;
    border-radius:50%;
}

#photo3{
    background-image: url("../images/lorne.jpg");
    /*width: 50%;*/
    /*height: 100%;*/
    /*border-radius: 50%;*/
    width:78px;
    height:90px;
    background-size:cover;
    background-position:center;
    border-radius:50%;
}

#photo4{
    background-image: url("../images/jeremy.jpg");
    /*width: 50%;*/
    /*height: 100%;*/
    /*border-radius: 50%;*/
    width:78px;
    height:90px;
    background-size:cover;
    background-position:center;
    border-radius:50%;
}

#creators li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    padding-top: 4px;
    text-align: center;
    font-size: 20px;

}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Profile Page*/
/*-----   Profile   -----*/
#profileSidebar {
    background-color: #C8DEDA;
    height:100vh ;
    /*width:33.33%;*/
}
#profilePageAfterSettingButtonIsClicked{
    display:none;
    background-color: #C8DEDA;
}