<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('About us')">

	<title>About us</title>
</head>
<body>
<header th:replace="partials/partials.html :: navbar"></header>

<h2>Who we are</h2>
<p>Journey is place where readers come gain, and pass along perspectives of books they have read, or are looking to read.  Our mission is to help people find and share books they love.  Journey launched in June 2022.</p>

<h2>A Few Things You Can Do On Journey</h2>
<p>
	See what books other users are reading.
	Track the books you're currently reading, have read, and want to read.
<!--	Check out your personalized book recommendations. Our recommendation engine analyzes 20 billion data points to give suggestions tailored to your literary tastes.-->
	Find out if a book is a good fit for you from our community’s reviews.
	Create your own reviews for others to read.
</p>

<h2>A Message From Our Creators</h2>
<p>Reading has always been a passion of ours.  Not just to improve brain power, but also to exercise our imagination.  We see new books as new journeys, and we allow our imaginations to take us there.  Sometimes it's nice to re-take a journey that we once enjoyed, so some of us choose to read a book a second and third time.</p>
<p></p>

<h1>About the Creators</h1>

<h2>Yasmine Rico</h2>
<h4>Full-Stack Software Developer</h4>
<h4>Location: San Antonio, Tx</h4>

<h2>Nicholas Gilmore</h2>
<h4>Full-Stack Software Developer</h4>
<h4>Location: San Antonio, Tx</h4>

<h2>Lorne Cousins</h2>
<h4>Full-Stack Software Developer</h4>
<h4>Location: San Antonio, Tx</h4>

<h2>Jeremy Sellers</h2>
<h4>Full-Stack Software Developer</h4>
<h4>Location: San Antonio, Tx</h4>

<footer th:replace="partials/partials.html :: footer"></footer>

</body>
</html>